@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,800');
@import 'vars';

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Raleway', Helvetica, sans-serif;
  background: #3c4859;
}

.app {
  min-height: 100%;
  position: relative;
}

.app__setup {
  position: absolute;
  top: 1em;
  right: 1em;
  fill: $md-grey;
  transition: transform 300ms;
  cursor: pointer;
  &:hover {
    transform: rotate(90deg);
  }
}
