@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,800');

html {
  height: 100%;
  font-size: 16px;
  font-family: 'Raleway', Helvetica, sans-serif;
}

body {
  min-height: 100%;
  background: #3c4859;
}

html, body {
  margin: 0;
  padding: 0;
}

/* red E63946 */
/* white F1FAEE */
/* lt blue A8DADC */
/* md blue 457B9D */
/* dk blue 1D3557 */
/* off black #3c4859 */
