@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,800');
@import 'vars';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Raleway', Helvetica, sans-serif;
  background: $dker-blue-grey;
}

.app {
  min-height: 100%;
  width: 100%;
  position: relative;
}

.app__setup {
  position: absolute;
  top: 1em;
  right: 1em;
  fill: $md-grey;
  transition: all 300ms;
  cursor: pointer;

  &:hover {
    transition: all 300ms;
    fill: lighten($md-grey, 5%);
  }

  &:active {
    transform: scale(0.9) rotate(90deg);
  }
}
