@import 'vars';

.error-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background: white;
  border-radius: $slightly-rounded;
  max-width: 400px;
  padding: 1rem;
}

.error-msg svg {
  height: 50px;
  display: block;
  fill: $off-black;
}

.error-msg p {
  flex: 1;
  margin: 0 0 0 1rem;
  align-self: center;
}
