@import 'vars';

.error-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align: center;
  background: white;
  padding: 20px 40px;
  border-radius: $slightly-rounded;
}
