$red: #E63946;
$off-white: #ebecf1;
$lt-blue: #A8DADC;
$md-blue: #457B9D;
$dk-blue: #1D3557;
$off-black: #3c4859;
$lt-grey: #dcdde1;
$md-grey: #95a5a6;
$soft-grey: #E2E2E2;
$periwinkle: #C9D6FF;
$orange: #e1b12c;
$dk-blue-grey: #3d4453;

$spinkit-spinner-margin: 40px auto !default;
$spinkit-size: 40px !default;
$spinkit-spinner-color: $dk-blue !default;
$slightly-rounded: 5px;
