$red: #E63946;
$off-white: #f5f6fa;
$lt-blue: #A8DADC;
$md-blue: #457B9D;
$dk-blue: #1D3557;
$off-black: #3c4859;
$lt-grey: #dcdde1;
$md-grey: #767e8a;

$orange: #e1b12c;

$dk-blue-grey: #3d4453;
$dker-blue-grey: #2f3640;

$spinkit-spinner-margin: 40px auto !default;
$spinkit-size: 40px !default;
$spinkit-spinner-color: $lt-grey !default;
$slightly-rounded: 5px;
