$red: #E63946;
$off-white: #F1FAEE;
$lt-blue: #A8DADC;
$md-blue: #457B9D;
$dk-blue: #1D3557;
$off-black: #3c4859;
$lt-grey: #c4c8cd;
$md-grey: #767e8a;
$spinkit-spinner-margin: 40px auto !default;
$spinkit-size: 40px !default;
$spinkit-spinner-color: $lt-grey !default;
$slightly-rounded: 5px;
