@import 'vars';

.weather {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 2rem;
  text-align: center;
  background: $dk-blue-grey;
  border-radius: 1em;
  box-shadow: 0 3px 6px rgba(2,2,2,0.16), 0 3px 6px rgba(2,2,2,0.23);
}

.weather__header {
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
  font-weight: 400;
  text-transform: uppercase;
  color: $md-grey;
  & > * {
    flex-direction: row;
  }
}

.weather__location {
  color: $lt-grey;
  font-weight: 600;
}

.weather__img {
  margin: 2rem 0 0 0;
  font-weight: 500;

  .icon {
    margin: 0 auto;
    width: 100%;
    max-width: 150px;
    max-height: 110px;
  }
}

.weather__summary {
  margin: 0.5rem 0 1rem;
  color: $lt-grey;
}

.weather__temp {
  margin: 0;
  font-weight: 400;
  font-size: 0.8rem;
  color: $lt-grey;
  & * {
    margin: 0.5rem 0 0;
  }
  & *:first-child {
    font-weight: 600;
    font-size: 4rem;
    line-height: 4rem;
    margin: 0;
  }
}

.weather__feels-like {
  color: $md-grey;
  margin-left: -0.75rem;
}

.weather__upcoming {
  margin: 1.5rem 0 0;
  border-top: 2px solid $md-grey;
  display: flex;
  flex-direction: row;
  padding: 2rem 0 0 0;
}
