@import 'vars';

.weather {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 1rem 2rem 2rem;
  text-align: center;
  background: $off-white;
  border-radius: 1em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.weather__header {
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
  font-weight: 400;
  text-transform: uppercase;
  color: $md-grey;
  & > * {
    flex-direction: row;
    &:last-child {
      color: $off-black;
      font-weight: 600;
    }
  }
}

.weather__img {
  margin: 2rem 0 0 0;
  color: $lt-grey;
  font-weight: 500;

  .icon {
    margin: 0 auto;
    width: 100%;
    max-width: 150px;
  }
}

.weather__temp {
  margin: 0;
  font-weight: 400;
  font-size: 0.8rem;
  & * {
    margin: 0.5rem 0 0;
  }
  & *:first-child {
    font-weight: 600;
    font-size: 4rem;
    line-height: 4rem;
    margin: 0;
  }
}

.weather__feels-like {
  color: $md-grey;
  margin-left: -0.75rem;
}

.weather__upcoming {
  margin: 1.5rem 0 0;
  border-top: 2px solid $lt-grey;
  display: flex;
  flex-direction: row;
  padding: 2rem 0 0 0;
}

.forcast__upcoming-date {
  display: flex;
  flex-direction: column;
  flex: 1;
  & * {
    margin: 0;
  }
  & *:nth-child(2) {
    color: $md-grey;
    margin: 0.25rem -0.2rem 0 0;
  }
  & *:last-child {
    color: $lt-grey;
    font-size: 0.8rem;
  }
}
